
<div class="container-md">
  <div class="row">
    <form method="post" action="/<%= @question_cardname %>">
      <label for="content">Edit <b>question</b> for card <%= @question_cardname_display %>. Please put your edits <em>above</em> the line.</label>
      <div class="col-lg">
        <textarea name="content" id="content" rows="5" cols="80"><%= @question_content %> </textarea>
      </div>
      <button type="submit">Save Changes </button>
    </form>
  </div>

  <div class="row">
    <form method="post" action="/<%= @answer_cardname %>">
      <label for="content">Edit <b>answer</b> for card <%= @answer_card_num %>:</label>
      <div class="col-md">
        <textarea name="content" id="content" rows="15" cols="80"><%= @answer_content %></textarea>
      </div>
      <button type="submit">Save Changes </button>
    </form>
  </div>
  <div class="row">
    <div class="col-md">
      <a href="/">Back </a>
    </div>
  </div>
</div>